/* STYLE SHEET */
/*
COLORS
#fffcf5 ecru
#a39e93 ecru
#c94a00 orange
#a13b00 dark orange
#66615a brown
#ffffff white
#ec5e28 bright orange
#f1eae1 light ecru
#67625e
#66625b dark clay
#252321 almsot black grey

FONTS
Roboto San Serif
h1 - 74px 300weight uppercase
	span - 700weight
	simply - 70px normal weight
h2 - 20px bolder
h3
h4
h5
h6
body - 16px
header - 14px

/** GLOBAL STYLING  **/

/* ======================================= */

/* Box Model fix */

html {box-sizing: border-box;}
	
*, *:before, *:after {box-sizing: inherit;}

/* ======================================= */

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ======================================= */

/* Image baseline */

img {
	max-width: 100%;
}


/* Typography */

	body {
		background-color: #fffcf5; /* ecru */
		font-family: 'Roboto', sans-serif;
		font-size: 16px;
		color: #242321;	
	}

	p {
		font-size: 1em;
		line-height: 160%;
	}

	h2 {
		font-size: 20px;
		font-weight: bolder;
	}

	a {
		color: #c94a00; /* orange */
		font-weight: bold;
		text-decoration: none;
	}

	a:hover {
		color: #a13b00; /* dark orange */
	}

/* ======================================= */

/* header  ===   
uses classes: "row" "added-margin"
uses IDs: "download", "facebook-icon", "twitter-icon"
uses Combinators: 
	descendants of the 'header' selector
	descendants of the 'header' selector that are <li> lists items and have an id name  

*/

	header .row {
		margin-top: 25px;
		margin-bottom: 20px;
	}

	header {
		background-color: #fffcf5;
	}

	header li img {
		margin:  0;
	}

	header li a {
		text-decoration: none;
		font-weight: 600;
		color: #66615a;
		font-size: 14px;
	}

	header li a:hover {
		color: #c94a00; /* orange */
	}

	header ul {
		list-style: none;
		margin: 10px;
	}

	header li {
		float: left;
		margin: 10px;

	}

	header li a {
		text-transform: uppercase;
	}

	header li#download {
		margin: 10px;
	}

	header li#download a {
		border: solid 2px #66615a;
		padding: 5px 10px;
		border-radius: 16px;
	}

	header li#download a:hover {
		color: #ffffff; /* white */
		background: #66615a; /* brown */
	}

	header .socials {
		margin: 4px 5px 0 5px;
	}
	header #facebook-icon {
		margin-left: 25px;
	}

	header #twitter-icon {}

/* this is there the @media stuff will go
	header nav ul {
		margin-left: 15px;
	}
*/

/* ================================== *//*
HOMEPAGE STYLE GOES NEXT
/* ================================== */ 

/* hero section  ===   
uses classes: "row" "button"
uses IDs: "hero", "buy-now", "watch-video"
uses Combinators: 
	class: button for <a> tags
	ID: buy-now hover interaction <a> tags
*/ 
	#hero {
		background-image: url("../images/hero1.jpg");
		background-size: cover;
		background-color: #66615a;  /*temporary brown so text shows up */
		height: 82vh;
	}

	#hero h1 {
		font-size: 74px;
		text-transform: uppercase;
		font-weight: 300;
		color: #fff;
		margin-top: 150px;
		margin-bottom: 25px;
	}

	#hero h1 span {
		font-weight: 600;
	}

	#hero a {
		color: #fff; /* this the short code for white */
		font-weight: normal;
	}

	#hero a:hover {
		color: #c94a00; /* orange */
	}

	a#buy-now {
		padding: 10px 20px;
		border-radius: 20px;
		color: white;
		background-color: #ec5e28;
		margin-top: 18px;
		margin-right: 80px;
	}

	a#buy-now:hover {

	}

	#watch {
		margin-top: 100px;
	}

/* Surface Pressure  ===   
uses classes: "row"
uses IDs: "surface-pressure"
*/ 

#surface-pressure .row {
	color: #67625e;
}

#surface-pressure h2 {
	line-height: 80%;
}

/* Simply Works  ===   
uses classes: "sw-icon-adjust-1", "sw-icon-adjust-2"
uses IDs: "simply-works", "simply-header", "simply-features", "kiss"
*/ 

#simply-works {
	text-align: center;
}

#simply-header {

}

#simply-header p {

}

#simply-works h1 {
	color: #66625b; /* dark clay */
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1;
}

#simply-works h2 {
	color: #272121;
}

#simply-features p {
	text-align: left;
}

/* ================================== *//*
INTERIOR STYLE GOES NEXT
/* ================================== */ 

/* === Interior page Makers wanted  ==== */ 

#hero-makers {
	background-image: url("../images/hero1.jpg");
	background-size: cover;
	background-position: center;
	height: 546px;
}

#hero-makers h1 {
	font-size: 53pt;
	text-transform: uppercase;
	color: #ffffff; /* white */
	font-weight: 700;
	margin-top: 191px;
	line-height: 110%
}

#hero-makers h1 span {
	font-weight: 300;
}

#hero-makers p a {
	font-size: 18px;
	text-transform: uppercase;
	color: #ffffff; /* white */
}

#hero-makers p a:hover {
	color: #ec5e28;
}

#makers-body ul {
	margin-top: 138px;
}

#makers-body nav li {
	text-transform: uppercase;
	list-style: none;
	padding: 14px 0 14px 10px;
	border-bottom: 1px solid #ec5e28; /* bright orange */
}

#makers-body #why {
	border-top: 1px solid #ec5e28; /* bright orange */
}

#makers-body div {
	margin-top: 87px;
	margin-bottom: 15px;
}

#makers-body span {
	color: #ec5e28; /* bright orange */
	font-weight: bold;
}

#makers-body h2 {
	margin-top: 45px;
	margin-bottom: 28px;
}

/* === Interior page Pencil No 2  ==== */ 

header #pencil {
	
}

#hero_pencil {
	background-image: url("../images/hero3.jpg");
	background-size: cover;
	background-position: center;
	height: 546px;
}

#heroSectText {
	position: relative;
	top:6.75em;
}

#buyNow {
	position: relative;
	top:13em;
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	font-weight:300;
	color:white;
	background-color:#ec5e28;
	cursor: pointer;	
}
#history {
	height: 600px;
}
#history img {
	float:left;
	width: 600px;
	height: 400px;
	margin-left:10%;
	margin-top: 2%;
	
}

#history p {
	font-size: 25px;
	color: #181616;
	margin-top: 3%;
	padding-left: 55%;
	line-height:2em
	
  }

#pencil {
	height: 850px;
}
#pencil img {
	display: inline-block;
	
	width:10%;
	height: 700px;
	
}

#pencil span:first-of-type {
	display: inline-block;
	position: relative;
	width:25%;
	font-size: 25px;
	margin-left: 9%;
	margin-right: 9%;
	line-height:1.5em;
	bottom: 48%;
}
#pencil span {
	display: inline-block;
	position: relative;
	width:25%;
	font-size: 25px;
	margin-left: 9%;
	margin-right: 9%;
	line-height:1.5em;
	bottom: 5%;
}
#pencil h2{
	text-align: center;
	font-size: 25px
}
#how h2{
	text-align: center;
	font-size: 25px
}

#art h2{
	text-align: center;
	font-size: 25px
}

#buyNow2 {
	padding:0.3em 1.2em;
	margin:0 0.3em 0.3em 0;
	border-radius:2em;
	font-weight:300;
	color:white;
	background-color:#ec5e28;
	cursor: pointer;	
	margin-left: 46%;
	margin-right: 35%;
}


/* ================================== *//*
FOOTER STYLE GOES NEXT
/* ================================== */ 

/* footer  ===   
uses classes: "bright", "copyright"
*/ 

footer {
	background-color: #252321;
	color: #a39e93;
	padding-top: 35px;
	font-size: 90%;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer li {
	margin-bottom: 8px;
}

footer li a {
	color: #66615a; /* brown */
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
}



.copyright {
	margin-top: 50px;
	margin-bottom: 115px;
	font-size: 85%;
	text-align: center;
}

.copyright a {
 	font-weight: normal;
 	text-transform: none;
}
