*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
	background-image: url("http://i.imgur.com/ZtcjR.jpg")
}
header{
    width: 100vw;
    height: 400px;
    background-color: peachpuff;
    border-bottom: solid 1px rgba(16, 16, 16, 0.1);
    font-family: 'Oswald', sans-serif;
}

header .inner{
    width: 1300px; /* This is the inner width of the content inside of your header (80%, etc) */
    height: 100%;
    display: block;
    margin: 0 auto;
}

header .welcome{
    display: table;
    height: 100%;
    font-size: 25px
}

header .welcome div{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    left:410px;

}


header .welcome .button{
	  padding: 15px 25px;
	  font-size: 24px;
	  text-align: center;
	  cursor: pointer;
	  outline: none;
	  color: #fff;
	  background-color: #04AA6D;
	  border: none;
	  border-radius: 15px;
	  box-shadow: 0 9px #999;
	  position: relative;
}

header .welcome .button:hover{
    filter: brightness(1.05);
}

header .welcome .button:active{
	  background-color: #3e8e41;
	  box-shadow: 0 5px #666;
	  transform: translateY(4px);
}
#img1 {
	width:500px;
	left:100px;
	position:relative;
}

#boat{
	width:250px;
	height: 300px;
	left:-600px;
	bottom: 450px;
	border-radius: 30%;
	position: relative;
}

#rock {
  width: 500px;
  height: 200px;
  background-color:blue;
  background-image: url("https://i.pinimg.com/564x/fa/3f/ad/fa3fad94de8488d61df569f472874fa7.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
}

#ferry{
	width:500px;
	height: 300px;
	left:960px;
	bottom: 850px;
	position: relative;
}

#paint{
	width:500px;
	height: 300px;
	left:-660px;
	bottom: 650px;
	border-radius: 70%;
	position: relative;
}

#building{
	width:200px;
	height:500px;
	left:40px;
	bottom: 350px;
	position: relative;
}

#tile{
	width:200px;
	height:350px;
	left:40px;
	bottom: 985px;
	position: relative;
}

#city{
	width:30px;
	height:400px;
	left:-1210px;
	bottom: 200px;
	position: relative;
}
