/* This is a Comment */
html{
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

header #koala {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:35%;
	height: 35%;
}

header{
	background-color: #92dcd4;
}

.navi{
    border: 3px solid;
    font-size: 130%;
    font-weight: bold;
}

li{
	display: inline;
	padding: 70px;
}

a {
	text-decoration: none;
	font-size: 25px;
}

body{
	background-image: url("watercolour_texture.jpg");
	margin: 0;
}

a img {
	width: 30%; 
	height: 500px; 
	margin:calc(9%/6) calc(9%/6);
}
